*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #213547;
}

button {
  font-family: inherit;
  cursor: pointer;
}

